<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/favicon.ico') }}" type="image/x-icon" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body
        data-controller="main symfony--ux-swup--swup"
        data-theme="fade"
    >
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Our shopping lists</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ path('shopping_list_index') }}">Shopping Lists</a>
                <a class="nav-item nav-link" href="{{ path('user_index') }}">Users</a>
            </div>
        </div>
    </nav>

    <main id="swup" class="container">
        {% block body %}{% endblock %}
    </main>
    </body>
</html>
