{% form_theme form
    'shopping_list/jquery.collection.html.twig'
    'shopping_list/item_form_theme.html.twig'
%}
{{ form_start(form) }}
    {{ form_row(form.owner) }}
    {{ form_row(form.price) }}
    Items
    {{ form_row(form.shoppingListItems) }}
    <button class="btn btn-success">
        <i class="fas fa-save"></i>
        {{ button_label|default('save') }}
    </button>
{{ form_end(form) }}
