{% extends 'base.html.twig' %}

{% block title %}Shopping Lists{% endblock %}

{% block body %}
    <h4>Filters</h4>
    <div class="bg-light p-5 rounded">
        {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <button class="btn btn-primary">
                <i class="fas fa-check"></i>
                filter
            </button>
        {{ form_end(filter_form) }}
    </div>
    <h3 class="mt-3">Shopping Lists</h3>
    <a href="{{ path('shopping_list_new') }}" class="btn btn-success my-2">
        <i class="fas fa-plus"></i>
        create new
    </a>
    <div class="bg-light p-5 rounded">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Items</th>
                        <th>Owner</th>
                        <th>CreatedAt</th>
                    </tr>
                </thead>
                <tbody>
                {% for shopping_list in shopping_lists %}
                    <tr class="{{ shopping_list.owner == app.user ? 'table-success' : '' }}">
                        <td>
                            <a class="btn btn-sm btn-primary" href="{{ path('shopping_list_edit', {'id': shopping_list.id}) }}">
                                <i class="fas fa-pencil-alt"></i>
                                open
                            </a>
                        </td>
                        <td>{{ shopping_list.price }}</td>
                        <td>{{ shopping_list.category ?? '-' }}</td>
                        <td>{{ shopping_list.shoppingListItems|length }}</td>
                        <td>{{ shopping_list.owner }}</td>
                        <td>{{ shopping_list.createdAt|date('d-m-Y H:i') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(shopping_lists) }}
            </div>
        </div>
    </div>
    <h4 class="mt-3">Summary</h4>
    <div class="bg-light p-5 rounded">
        {% if summaries is not empty %}
        <ul class="list-group">
            {% for summary in summaries %}
                <li class="list-group-item">
                    {{ summary.email }}: {{ summary.sumPrice ?? 0 }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            No shopping lists
        {% endif %}
    </div>
{% endblock %}
